
.post h3{
  color: #949cb0;
}
.image img{
  height:85vh;
}
.language{
  background-color: yellow;
  width: fit-content;
  color: black;
  font-weight: bold;
  padding: .4rem;
  border-radius: .3vw;
}
.ele{
  width: fit-content;
  border-radius: .3vw;

}
