.trending p{
  color: #949cb0;
}
.brd{
  border: 1px solid #a8a8a83d ;
}
a{
  color: black !important;
  font-weight: bold;
}
.myPagination *{
  color:white !important;
 background-color:#131722 !important;
}
